<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>kelvin's Static Site Generator!</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/ssg/">Home</a></li>
          <li><a href="/ssg/over-ons.html">Over Ons</a></li>
          <li><a href="/ssg/contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Posts</h2>
        <ul>
          {% for post in posts %}
          <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt }}</p>
            <p>Categories: {{ post.categories | join(", ") }}</p>
            <p>Tags: {{ post.tags | join(", ") }}</p>
          </li>
          {% endfor %}
        </ul>
      </section>
      <section>
        <h2>Pages</h2>
        <ul>
          {%- for page in pages -%}
            {% if page.title != "Contact" and page.title != "Over ons"  and page.title != "Startpagina" %}
              <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
          {%- endfor -%}
        </ul>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 - Static site Generator Labo - Kelvin B.</p>
    </footer>
  </body>
</html>