<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/over-ons.html">Over Ons</a></li>
            <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>{{ title }}</h1>
            <div>{{ content }}</div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 - Labo7</p>
    </footer>
    <!-- <h1>{{ page.title }}</h1>
	{{ content }} -->
</body>
</html>